.scroll {
    scroll-behavior: smooth;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none; 
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  
  .category-tooltip {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .category-item:hover .category-tooltip {
    opacity: 1;
  }


.flex-col {
    transition: transform 0.3s;
}

  
.category-slide {
    background-color: #f9f9f9; /* Light background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow */
    padding: 20px; /* Inner padding */
    transition: transform 0.3s; /* Smooth hover effect */
  }
  
  .category-slide:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
  }
  



  .register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
